name: CI

permissions:
  contents: read
  pull-requests: write

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
      - develop

jobs:
  validation:
    uses: ./.github/workflows/hacs.yml