name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write
  pull-requests: write

jobs:
  validation:
    uses: ./.github/workflows/hacs.yml
  release:
    name: Create GitHub Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # - name: Determine version
      #   run: echo "RELEASE_VERSION=${GITHUB_REF_NAME}" >> "$GITHUB_ENV"

      # - name: Create Home Assistant release archive
      #   run: |
      #     cd ${{ github.workspace }}/custom_components/keba_heat_pump_modbus
      #     zip -r ${{ github.workspace }}/keba_heat_pump_modbus.zip ./

      # - name: Publish GitHub release
      #   uses: softprops/action-gh-release@v2
      #   with:
      #     tag_name: ${{ env.RELEASE_VERSION }}
      #     name: ${{ env.RELEASE_VERSION }}
      #     files: |
      #      ${{ github.workspace }}/keba_heat_pump_modbus.zip
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
